@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

#input-area {
    width: 0;
    height: 0;
    opacity: 0;
}

#edit-container {
    width:100%;
    background-color: #F7F7F7;
    min-height:200px;
    margin:0 0;
    padding: 0;
    position:relative;
    overflow:auto;
}

#edit-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    min-height:28px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    outline: none;
    margin: 16px 10%;
    padding-bottom: 2px;
    border-bottom: 1px dotted black;
}

#edit-paragraph span {
    text-align: center;
    outline: none;
}

#edit-paragraph span.old-p {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
